@import url('//fonts.googleapis.com/css?family=Arvo');

body {
  background: url("bricks.png") repeat;
}

body, label, input, button, select { 
  font-family: "Arial";
}

#header_logo {
  height: 125px;
  position: relative;
}

#loading-spinner {
	margin: auto;
	width: 150px;
}

#loading-container{
	text-align:center;

}

#cluster-button {

	display:flex;
	align-items:center;    
}

.selectize-input {

	font-size: 12px;
}


#cluster {
	margin-top: 25px
}


#headerSection {
  margin: -25px 0 20px;
  color: #FAFAFA;
  padding: 15px 20px;
  box-shadow: 0 0 7px #000;
  background: #000000;
} 

#headerSection a {
  color: white !important;
  text-decoration: underline;
}
 
h1 {
  font-family: "Arvo", serif;
  font-weight: bold;
  color: #286090;
}

h4 {
  font-family: "Arvo", serif;
}

li {
  font-family: "Arvo", serif;
}

p {
  font-family: "Arvo", serif;
}

label {
  font-family: "Arvo", serif;
}


